@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#output {
  padding: 20px;
  width: 100%;
  text-align: center;
}

canvas {
  width: 800px;
  height: 800px;
  background-color: black;
}

textarea {
  width: 300px;
  height: 60px;
}